{% extends "layouts/landing-base.html" %}
{% set active_page = "about" %}

{% block title %} {{ _('about_title') }} {% endblock %}

{% block description %}  {{ _('about_description') }} {% endblock %}

{% block head %}

{{ super() }}

<link rel="canonical" href="https://flaskstarter.com/about">
<link rel="alternate" hreflang="x-default" href="https://flaskstarter.com/about">
<link rel="alternate" hreflang="en-US" href="https://flaskstarter.com/about?lang=en">
<link rel="alternate" hreflang="it-IT" href="https://flaskstarter.com/about?lang=it">
<link rel="alternate" hreflang="zh-TW" href="https://flaskstarter.com/about?lang=zh">
<link rel="alternate" hreflang="de-DE" href="https://flaskstarter.com/about?lang=de">

<meta property="og:title" content="{{ _('about_title') }}">
<meta property="og:description" content="{{ _('about_description') }}">
<meta property="og:url" content="https://flask-starter.com/about">

<meta name="twitter:title" content="{{ _('about_title') }}">
<meta name="twitter:description" content="{{ _('about_description') }}">

{% endblock %}

{% block content %}


<!-- {% include 'components/under_construction.html' %} -->

<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Payments tool for software companies</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">This is not the actual description, just a placeholder ;)</p>
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Get started
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Speak to Sales
            </a> 
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
        </div>                
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">About Full-Stack Flask Starter Kit</h2>
            <p class="mb-4 font-light">The Full-Stack Flask Starter Kit is a comprehensive solution for rapidly developing and deploying web applications. Built with Flask and enhanced with modern tools, this kit provides developers with a robust foundation to jumpstart their projects.</p>
            <p class="mb-4 font-light">Our starter kit combines the power of Flask's flexibility with a carefully curated set of technologies, creating an efficient and effective development environment. Whether you're building a small web app or scaling up to a larger project, this kit offers the essential components and best practices to support your journey.</p>
            <p class="mb-4 font-medium">From security features to optimized performance, and from modern design capabilities to internationalization support, the Full-Stack Flask Starter Kit is designed to address common challenges in web development while maintaining a streamlined workflow.</p>
            <a href="#" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
                Learn more
                <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
    </div>
  </section>

<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">We didn't reinvent the wheel</h2>
            <p class="mb-4">We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need.</p>
            <p>We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
    </div>
</section>

{% endblock %}