{% extends "layouts/landing-base.html" %}
{% set active_page = "contact" %}

{% block title %} {{ _('contact_title') }} {% endblock %}

{% block description %} {{ _('contact_description') }} {% endblock %}

{% block head %}

{{ super() }}

<link rel="canonical" href="https://flaskstarter.com/contact">
<link rel="alternate" hreflang="x-default" href="https://flaskstarter.com/contact">
<link rel="alternate" hreflang="en-US" href="https://flaskstarter.com/contact?lang=en">
<link rel="alternate" hreflang="it-IT" href="https://flaskstarter.com/contact?lang=it">
<link rel="alternate" hreflang="zh-TW" href="https://flaskstarter.com/contact?lang=zh">
<link rel="alternate" hreflang="de-DE" href="https://flaskstarter.com/contact?lang=de">

<meta property="og:title" content="{{ _('contact_title') }}">
<meta property="og:description" content="{{ _('contact_description') }}">
<meta property="og:url" content="https://flask-starter.com/contact">

<meta name="twitter:title" content="{{ _('contact_title') }}">
<meta name="twitter:description" content="{{ _('contact_description') }}">

{% endblock %}

{% block content %}

{% include 'components/under_construction.html' %}

{% endblock %}