{% extends "layouts/landing-base.html" %}
{% set active_page = "contact" %}

{% block title %} {{ _('contact_title') }} {% endblock %}

{% block description %} {{ _('contact_description') }} {% endblock %}

{% block head %}

{{ super() }}

<meta property="og:title" content="{{ _('contact_title') }}">
<meta property="og:description" content="{{ _('contact_description') }}">
<meta property="og:url" content="https://flask-starter.com/contact">

<meta name="twitter:title" content="{{ _('contact_title') }}">
<meta name="twitter:description" content="{{ _('contact_description') }}">

{% endblock %}

{% block content %}

{% include 'components/under_construction.html' %}

{% endblock %}