{% extends "layouts/landing-base.html" %}
{% set active_page = "documentation" %}

{% block title %} {{ _('documentation_title') }} {% endblock %}

{% block description %} {{ _('documentation_description') }} {% endblock %}

{% block head %}

{{ super() }}

<meta property="og:title" content="{{ _('documentation_title') }}">
<meta property="og:description" content="{{ _('documentation_description') }}">
<meta property="og:url" content="https://flask-starter.com/documentation">

<meta name="twitter:title" content="{{ _('documentation_title') }}">
<meta name="twitter:description" content="{{ _('documentation_description') }}">

{% endblock %}

{% block content %}

{% include 'components/under_construction.html' %}

{% endblock %}