{% extends "layouts/landing-base.html" %}
{% set active_page = "explore" %}

{% block title %} {{ _('explore_title') }} {% endblock %}

{% block description %}  {{ _('explore_description') }} {% endblock %}

{% block head %}

{{ super() }}

<link rel="canonical" href="https://flaskstarter.com/explore">
<link rel="alternate" hreflang="x-default" href="https://flaskstarter.com/explore">
<link rel="alternate" hreflang="en-US" href="https://flaskstarter.com/explore?lang=en">
<link rel="alternate" hreflang="it-IT" href="https://flaskstarter.com/explore?lang=it">
<link rel="alternate" hreflang="zh-TW" href="https://flaskstarter.com/explore?lang=zh">
<link rel="alternate" hreflang="de-DE" href="https://flaskstarter.com/explore?lang=de">

<meta property="og:title" content="{{ _('explore_title') }}">
<meta property="og:description" content="{{ _('explore_description') }}">
<meta property="og:url" content="https://flask-starter.com/about">

<meta name="twitter:title" content="{{ _('explore_title') }}">
<meta name="twitter:description" content="{{ _('explore_description') }}">

{% endblock %}

{% block content %}


<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Explore the Full-Stack Flask Starter Kit</h2>
            <p class="mb-4">The Full-Stack Flask Starter Kit provides a robust foundation for web application development. Built on Flask, it integrates essential tools and best practices to streamline the development process. This kit is designed for developers who value efficiency and scalability in their projects.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
            <a href="#" class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 mb-2">
                <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                    <path d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z"/>
                </svg>
                Tutorial
            </a>
            <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">Containerized Deployment with Docker</h1>
            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">Utilize Docker for consistent environments across development and production. Includes pre-configured Docker Compose setup for Flask and MongoDB ensuring seamless deployment and scalability.</p>
            <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Read more
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <a href="#" class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                    </svg>
                    Design
                </a>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">OAuth 2.0 Integration for Authentication</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Implement secure authentication using the OAuth 2.0 protocol. Supports multiple providers (e.g., Google, GitHub) for flexible and standardized user authentication flows.</p>
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>
            </div>
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                <a href="#" class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                    </svg>
                    Code
                </a>
                <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Tailwind CSS and Flowbite Integration</h2>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Leverage Tailwind CSS utility-first framework and Flowbite components for rapid UI development. Includes custom Tailwind configuration and build process for optimized production CSS.</p>
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="grid gap-8 lg:grid-cols-2 lg:gap-16 items-center">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="text-center lg:text-left mb-4 text-3xl md:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Authentication Showcase</h2>
                <p class="text-center lg:text-left mb-4">Our Full-Stack Flask Starter Kit implements robust OAuth 2.0 authentication, providing a secure and standardized way to manage user access. This demo showcases the seamless integration of multiple OAuth providers, allowing users to authenticate using their preferred accounts.</p>
                
                <h3 class="text-center lg:text-left mb-2 text-lg font-semibold text-gray-900 dark:text-white">Key features:</h3>
                <ul class="text-center lg:text-left space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mb-6">
                    <li>Support for multiple OAuth providers</li>
                    <li>Secure token handling and session management</li>
                    <li>Easy integration with Flask's user session</li>
                    <li>Easily customizable for your own needs</li>
                </ul>
            </div>
            <div class="w-full flex justify-center items-center">
                <div class="max-w-[30rem] w-full">
                    {% include 'components/forms/register-form.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}