<!DOCTYPE html>

<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">

    
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">

    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}" type="image/x-icon">    

    <script src="{{ url_for('static', filename='js/flowbite.min.js') }}"></script>


     <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-DNJN1PF3CS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XXXXXXX');
    </script>  -->

    {% endblock %}

</head>
<body class="antialiased  bg-white dark:bg-gray-900">

    {% block bodycontent %}{% endblock %}

</body>
</html>