{% extends "layouts/base.html" %}

{% block title %}Forgot Passowrd{% endblock %}
{% block description %}Reset your password securely. We'll send you instructions to create a new password for your account.{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ url_for('static', filename='js/load-theme.js') }}"></script>
<meta name="robots" content="noindex, nofollow">
<link rel="canonical" href="{{ url_for('auth.forgot_password', _external=True) }}">

{% endblock %}

{% block bodycontent %}

    
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        {% include 'components/forms/form-logo.html' %}
        {% include 'components/forms/forgot-password-form.html' %}
    </div>
</section>

{% endblock %}