{% extends "layouts/base.html" %}

{% block title %}Registration{% endblock %}
{% block description %}Create a new account{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ url_for('static', filename='js/load-theme.js') }}"></script>
<link rel="canonical" href="{{ url_for('auth.register', _external=True) }}">

{% endblock %}

{% block bodycontent %}

    
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        {% include 'components/forms/form-logo.html' %}
        {% include 'components/forms/auth/registration-form.html' %}
    </div>
</section>

{% endblock %}