{% extends "layouts/base.html" %}

{% block title %}Reset Password{% endblock %}
{% block description %}Create a new password for your account. Ensure it's strong and unique to keep your account secure.{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ url_for('static', filename='js/load-theme.js') }}"></script>
<meta name="robots" content="noindex, nofollow">

{% endblock %}

{% block bodycontent %}

<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        {% include 'components/forms/form-logo.html' %}
        {% include 'components/forms/auth/reset-password-form.html' %}
    </div>
</section>

{% endblock %}